
                        <div x-show="showModal" class="fixed inset-0 bg-[black]/60 z-[999] overflow-y-auto" style="display: none;">
                                <div class="flex items-start justify-center min-h-screen px-4" @click.self="open = false">
                                    <div class="panel border-0 p-0 rounded-lg overflow-hidden w-full max-w-lg my-8 animate__animated" :class="$store.app.rtlClass === 'rtl' ? 'animate__rotateInDownRight' : 'animate__rotateInDownLeft'">
                                        <div class="flex bg-[#fbfbfb] dark:bg-[#121c2c] items-center justify-between px-5 py-3">
                                            <h5 class="font-bold text-lg">Odstrániť kartu ? </h5>
                                            <button @click="showModal = false" class="text-white-dark hover:text-dark">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
                                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="p-5">
                                            <div class="dark:text-white-dark/70 text-base font-medium text-[#1f2937]">
                                                <p>Po odstranení karty môžete kartu znova spárovať s týmto alebo iným účtom. <b>Naozaj chcete kartu odstrániť?</b></p>
                                            </div>
                                            <div class="flex justify-end items-center mt-8">
                                                <%= button_to 'Potvrdiť', unclaim_path(unique_key: card.unique_key), method: :patch, class: 'btn btn-primary mr-2' %>
                                                <button @click="showModal = false" type="button" class="btn btn-outline-danger">Zrušiť</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         </div>