


              <% if resource.errors.any? %>
                <div style="color: red; background-color: #ffcccc; border: 1px solid red; padding: 10px; margin-bottom: 5px; border-radius: 5px;">
                  <% resource.errors.full_messages.each do |message| %>
                    <p><%= message %></p>
                  <% end %>
                </div>
              <% end %>