<div class="dark:text-white-dark text-center ltr:sm:text-left rtl:sm:text-right p-6 pt-0 mt-auto">



 


     <p class="block text-white-dark text-center dark:text-white mt-8">
                    <%= Time.zone.now.year %> ©  ikarty.eu | <a href="mailto:support@ikarty.eu">support@ikarty.eu</a>

               | ikarty.eu nie je súčasťou a nie je ani spojené s Google ani Google Inc. Google je ochranná známka patriaca Google, Inc.
    </p>
</div>