<% content_for :title, "Všetky karty - ikarty.eu" %>


<%= javascript_include_tag 'theme/simple-datatables.js' %>

<div x-data="basic">
    <div class="panel mt-6">
        <h5 class="font-semibold text-lg dark:text-white-light">Všetky karty</h5>
        <table id="myTable" class="whitespace-nowrap table-hover">
            <!-- Table headers -->
            <thead>
                <tr>
                    <th>ID karty</th>
                    <th>Názov</th>
                    <th>URL adresa presmerovania</th>
                     <th>Počet presmerovaní</th>
                    <th>Upraviť</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table body will be filled by DataTables -->
            </tbody>
        </table>
    </div>
</div>

<script>
  
 document.addEventListener("alpine:init", () => {
  console.log("Alpine init event triggered");

 
});

function truncateText(text, maxLength) {
  if (text === null || text === undefined) {
    return ""; // Or return some placeholder text like "N/A"
  }
  return text.length > maxLength ? text.substring(0, maxLength) + "..." : text;
}


</script>






